[*.cs]

# CS1591: 缺少对公共可见类型或成员的 XML 注释
dotnet_diagnostic.CS1591.severity = silent

# CS8602: 解引用可能出现空引用。
dotnet_diagnostic.CS8602.severity = silent

# CS8618: 在退出构造函数时，不可为 null 的字段必须包含非 null 值。请考虑声明为可以为 null。
dotnet_diagnostic.CS8618.severity = silent

# CS8600: 将 null 字面量或可能为 null 的值转换为非 null 类型。
dotnet_diagnostic.CS8600.severity = silent

# IDE0078: 使用模式匹配
dotnet_diagnostic.IDE0078.severity = silent

# CS7023: “is”或“as”运算符的第二个操作数不能是静态类型
dotnet_diagnostic.CS7023.severity = silent
